* {
  /*border: 1px red solid;*/
  font-family: fontMain;
	margin: 0 0;
  cursor:default;
}

@font-face {
    font-family: fontMain;
    src: url("fonts/Aileron-Light.ttf");
}

@media all and (max-width: 640px) {
  .menu {
    font-size: 100% !important;
    padding: 3px 2% !important;
    margin: 3px 2% !important;
  }
}

body {
  font-size: 16pt;
}

.menu {
  display: inline-block;
  font-size: 100%;
	margin: 5px 5%;
  padding: 5px 3%;
  cursor:pointer;
}

/*.menuHome {
  text-decoration: underline gray;
}*/

.menuInfo {
  text-decoration: underline gray;
}

/*.menuContact {
  text-decoration: underline gray;
}*/

a {
  color: inherit;
  text-decoration: inherit;
  cursor:pointer;
}

.navBar {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  height:50;
  margin:auto;
  max-width: 950px;
  z-index: 1000;
  text-align: center;
  background-color: white;
}

.wrapBody {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 50px;
  background: radial-gradient(rgb(240,240,255), rgb(245,245,255), rgb(255,255,255));
  padding: 1% 1%;
}

.txtTitle {
  font-weight: bold;
  margin: 10px 10px;
  margin-left: 5%;
}

.txtBox {
  margin: 10px 10%;
  margin-left: 10%;
  display: inline-block;
}

.txtSource {
  margin: 10px 0px;
  margin-left: 1%;
  margin-bottom: 20px;
  font-size: 80%;
}
